# Auto-mount USB storage devices for pi-robot-video
#
# Mounts any USB-attached block partition to /media/usb.

ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ENV{ID_BUS}=="usb", ENV{ID_FS_USAGE}=="filesystem", RUN+="/usr/bin/systemd-mount --no-block --automount=no --collect $devnode /media/usb"

ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ENV{ID_BUS}=="usb", RUN+="/usr/bin/systemd-umount /media/usb"
